PORT=3000

# مسار ملف قاعدة البيانات SQLite. استخدمه عند نشر المشروع على Render أو أي منصة تدعم القرص الدائم.
DATABASE_PATH=./data/interior_pricing.db

JWT_SECRET=h6jRg59+nitcX1Kzlcf3V98Zg9ToTZVWtkRMdRsUOEGqGAYh0b4tpdfnRVhFfjbwONilUki2r6mqbPwidkoW8g==
